/* ------------头顶------------- */
.header {
    height: 35px;
    background: #fafafa;
    border-bottom: 1px solid #dfdfdf
}

.fl {
    float: left;
}

.top_collect {
    background: url(../image/collect.jpg) no-repeat left center;
    float: left;
    line-height: 35px;
    text-align: center;
    width: 44px;
    font-size: 12px;
    padding-left: 8px;
}

.top_collect a {
    color: #a5a5a5;
}

.weixin {
    background: url(../image/weixin1.jpg)no-repeat left center;
    float: left;
    line-height: 35px;
    text-align: center;
    width: 44px;
    font-size: 12px;
    padding-left: 8px;
    color: #a5a5a5;
    margin-left: 1px;
}

.ri {
    float: right;
    height: 35px;
}

.login {
    float: left;
    height: 35px;
    line-height: 35px;
}

.register {
    float: left;
    height: 35px;
    line-height: 35px;
}

.login a {
    color: #a5a5a5;
    font-size: 12px;
}

.login .sp {
    margin-left: 8px;
    color: #a5a5a5
}

.register a {
    color: #a5a5a5;
    font-size: 12px;
    margin-left: 10px;
}

/* -------------头顶下面的头---------- */
.header_center {
    height: 90px;
}

.logo_fl {
    margin-top: 30px;
    float: left;
    height: 56px;
}

.logo-head {
    float: left;
    margin-top: 52px;
    width: 72px;
    margin-left: 24px;
    background: #0c82d9;
    border-radius: 5px;
    -webkit-border-radius:5px;
}

.logo-head .in_b {
    color: #fff;
}

.logo-head .in_b span {
    font-size: 14px;
    height: 23px;
    line-height: 23px;
}

.logo-head .in_b img {
    width: 17px;
    height: 17px;
    margin: 0 4px 3px 6px;
    font-size: 14px;
}

.shopping-bar {
    float: right;
    height: 90px;
}

.shopping-cart {
    float: right;
    margin-top: 35px;
    width: 126px;
    height: 40px;
    background: #0c82d9;
}

.mini-cart {
    line-height: 40px;
}

.mini-cart {
    height: 20px;
    padding: 9px 20px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.mini-cart i {
    margin-right: 5px;
}

.search-box {
    width: 435px;
    height: 40px;
}

.search-box {
    width: 432px;
    height: 40px;
    /* border: 1px solid red; */
    float: right;
    margin-top: 35px;
    margin-right: 10px;
}

.search-fr .search-txt {
    width: 382px;
    height: 38px;
    border: 1px solid #dfdfdf;
    padding-left: 8px;
}

.search-fr i {
    display: block;
    float: right;
    width: 38px;
    height: 38px;
    border: 1px solid #dfdfdf;
    background: url(../image/searchbg.png) 0 0;
    margin: 0;
    padding: 0
}

/* -------------------------注册域------------------------ */
.login-fr {
    width: 320px;
    padding: 100px 0;
    color: #6a6967;
    margin-left: auto;
    margin-right: auto;
}

.login-fr h1 {
    color: #0c82d9;
    text-align: center;
    font-family: "Microsoft Yahei", sans-serif;
    font-size: 24px;
}

.register-fr {
    width: 320px;
    height: 252px;
}

.user-reg {
    margin-top: 38px;
}

.user-reg li {
    width: 320px;
    height: 30px;
    border: 1px solid #e6e6e6;
    margin-bottom: 23px;
    position: relative;
}

/* -----------公共span样式------------- */
.user-reg li span {
    border-right: 1px solid #e6e6ee;
    width: 30px;
    height: 30px;
    position: absolute;
}

/* ------------------------------------- */
.ccode {
    position: relative;
}

.ccode .in-b {
    background: url(../image/user-code.png) no-repeat center center;
    background-size: 50%;
}

.ccode .number {
    height: 30px;
    line-height: 30px;
    padding-left: 40px;
}

.printpic {
    float: right;
    width: 110px;
    height: 30px;
    line-height: 30px;
    display: block;
    margin-left: 0px;
    border-left: 1px solid #e7e7e7;
}

.printpic .dynamic {
    display: inline-block;
    width: 65px;
    height: 20px;
    padding-bottom: 4px;
    margin-left: 0px;
    line-height: 30px;
    border-right: 1px solid #e7e7e7;
    cursor: pointer;
}

.user .in-b {
    background: url(../image/user-id.png) no-repeat center center;
    background-size: 50%;
}

.user .phone {
    display: inline-block;
    float: left;
    height: 30px;
    width: 168px;
    line-height: 30px;
    padding-left: 40px;
    border-right: 1px solid #e7e7e7;
}

.user .fcode {
    display: inline;
    width: 111px;
    /* height: 30px; */
    line-height: 30px;
    border: 0;
    background-color: #ccc;
    color: #999;
    float: left;
    cursor: pointer;
}

.mcode .in-b {
    background: url(../image/user-mcode.png) no-repeat center center;
    background-size: 50%;
}

.mcode .note {
    display: inline;
    /* float: left;
    height: 30px;
    width: 168px; */
    line-height: 30px;
    padding-left: 40px;
}

.password .in-b {
    background: url(../image/user-pwd.png) no-repeat center center;
    background-size: 50%;
}

.password .pass {
    display: inline;
    /* float: left;
    height: 30px;
    width: 168px; */
    line-height: 30px;
    padding-left: 40px;
}

.repeat-li .in-b {
    background: url(../image/user-pwd.png) no-repeat center center;
    background-size: 50%;
}

.repeat-li .repeat-pass {
    line-height: 30px;
    padding-left: 40px;
}

.regBtn {
    margin-left: auto;
    margin-right: auto;
}

.regBtn .block {
    display: block;
    width: 332px;
    height: 32px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
    /* margin-left: auto;
    margin-right: auto; */
}

.regBtn .register-button {
    width: 322px;
    height: 30px;
    line-height: 30px;
    background-color: #0c82d9;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

/* ------------------------------底部------------------------- */
.footer {
    margin-top: 100px;
    background-color: #fafafa;
    height: 540px;
}

.inner-footer {
    height: 143px;
    border-bottom: 2px solid #ecedef;
    display: flex;
    justify-content: space-around;
}

.link {
    border-bottom: 2px solid #ecedef;
    height: 183px;
}

.copyRight {
    background: #0c82d9;
    height: 213px;
}

#phoneInput-error, #password-error, #repassword-error {
    position: absolute;
    left: 0;
    top: 100%;
    color: red;
}
