body{
    font: 12px/150% SimSun,"Microsoft Yahei",Arial,sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul {
    list-style: none;
  }
/* ------------头顶------------- */
.header {
    height: 36px;
    background: #fafafa;
    border-bottom: 1px solid #dfdfdf;
}

.fl {
    float: left;
}

.top_collect {
    background: url(../image/collect.jpg) no-repeat left center;
    float: left;
    line-height: 35px;
    text-align: center;
    width: 44px;
    font-size: 12px;
    padding-left: 20px;
}

.top_collect a {
    color: #a5a5a5;
}

.weixin {
    background: url(../image/weixin1.jpg)no-repeat left center;
    float: left;
    line-height: 35px;
    text-align: center;
    width: 44px;
    font-size: 12px;
    padding-left: 20px;
    color: #a5a5a5;
    margin-left: 5px;
}

.ri {
    float: right;
    height: 35px;
}

.login {
    float: left;
    height: 35px;
    line-height: 35px;
}

.register {
    float: left;
    height: 35px;
    line-height: 35px;
}

.login a {
    color: #a5a5a5;
    font-size: 12px;
}

.login .sp {
    margin-left: 8px;
    color: #a5a5a5
}

.register a {
    color: #a5a5a5;
    font-size: 12px;
    margin-left: 10px;
}

/* -------------头顶下面的头---------- */
.header_center {
    height: 90px;
}

.logo_fl {
    margin-top: 30px;
    float: left;
    height: 56px;
}

.logo-head {
    float: left;
    margin-top: 52px;
    width: 72px;
    margin-left: 24px;
    background: #0c82d9;
    border-radius: 5px;
    -webkit-border-radius:5px;
}

.logo-head .in_b {
    color: #fff;
}

.logo-head .in_b span {
    font-size: 14px;
    height: 23px;
    line-height: 23px;
}

.logo-head .in_b img {
    width: 17px;
    height: 17px;
    margin: 0 4px 3px 6px;
    font-size: 14px;
}

.shopping-bar {
    float: right;
    height: 90px;
}

.shopping-cart {
    float: right;
    margin-top: 35px;
    width: 126px;
    height: 40px;
    background: #0c82d9;
}

.mini-cart {
    line-height: 40px;
}

.mini-cart {
    height: 20px;
    padding: 9px 20px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

.mini-cart i {
    margin-right: 5px;
}

.search-box {
    width: 421px;
    height: 40px;
    /* border: 1px solid red; */
    float: right;
    margin-top: 35px;
    margin-right: 10px;
    color: rgb(169, 169, 169);
}

 .search-txt {
    width: 382px;
    height: 38px;
    border: 1px solid #dfdfdf;
    padding-left: 8px;
    position: relative;
}

.search-fr i {
    display: block;
    float: right;
    width: 39px;
    height: 38px;
    border: 1px solid #dfdfdf;
    background: url(../image/searchbg.png) 0 0;
}
/* —————————放大镜板块———————— */
.breadcrumbs{
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    background: #f5f5f5;
    color: #616161;
}

.goods-detail-info{
    height: 582px;
    background-color: #fff;
    /* border: 1px solid rebeccapurple */
}
.detailLeft{
    margin: 38px 47px 0 33px;
    width: 386px;
    height: 454px;
    border: 1px solid #ddd;
    background-color: #fff;
}

/* 供遮罩层移动区域 */

.show-image {
    position: relative;
    width: 367px;
    height: 368px;
    font-size: 0;
    overflow: hidden;
    margin: 8px;
    /* overflow: hidden; */
  }

  /* 放大图盒子 */

  .show-image a {
    width: 370px;
    height: 368px;
    display: block;
    outline: none;
  }

  .show-image a img {
    max-width: 100%;
    max-height: 100%;
  }

  /* 遮罩层 */

  .filter {
    position: absolute;
    left: 0px;
    top: 0;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 240, 0.6);
    cursor: move;
    display: none;
  }
  .img-box{
      height: 60px;
      margin-left: 6px;
  }
  .img-box>a{
      display: inline-block;
      height: 60px;
      width: 13px;
      
  }
  .img-box>li {
    display: inline-block;
    border: 1px solid transparent;
    margin-left: 2px;
  }

  .img-box>li img {
    width: 58px;
    height: 58px;
    border: 1px solid #dad7d7;
    margin-bottom: 55px;
  }



  /* 放大镜 */

  .show-big-image {
    position: absolute;
    left: 476px;
    top: 214px;
    width: 350px;
    height: 350px;
    overflow: hidden;
    border: 1px solid #eee;
    display: none;
  }

  .show-big-image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 826px;
    height: 823px;
  }
/* --------------------------------------------------- */

/* ------------------购物车------------------------ */


.detailRight{
    width: 708px;
    height: 540px;
    /* border: 1px solid red */
}
.fm{
    font-family: "Microsoft Yahei", sans-serif;
}
.detailTitle{
    font-size: 23px;
    line-height: 30px;
    margin-top: 30px;
}

.detailInfo{
    padding: 12px 0;
    color: #818181;
}
.goods-price{
    margin: 10px 0;
    padding-top: 10px;
    border-top: 1px dotted #ccc;
    color: #818181
}
.pt10 {
    padding-top: 10px;
}
.orange {
    color: #ff7c44;
}
.fb{
    font-weight: bold;
}
.fa {
    font-family: Arial, sans-serif;
}
.sale-info {
    border-top: 1px dotted #ccc;
}
.fm {
    font-family: "Microsoft Yahei", sans-serif;
}
.color9 {
    color: #999;
}
.f12 {
    font-size: 12px;
}
.pb10 {
    padding-bottom: 10px;
}
/* ---------点击------- */
.clic{
    margin-top: 20px;
    color: #818181;
    height: 26px;
    display: block
}
.mr20 {
    margin-right: 20px;
}
.minus{
    width: 23px;
    height: 23px;
    line-height: 23px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
}
#buy_num {
    margin: 0 2px;
    width: 48px;
    height: 23px;
    line-height: 23px;
    border: 1px solid #ddd;
    background-color: #fff;
}
.plus{
    width: 23px;
    height: 23px;
    line-height: 23px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
}
.mt12 {
    margin-top: 12px;
}
.mt20 {
    margin-top: 20px;
}
.mr10 {
    margin-right: 10px;
}
.in_b {
    display: inline-block;
}

#btn{
    float: left;
    display: block
}
#buy{
    width: 141px;
    height: 48px;
    line-height: 48px;
    border: 0;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    background-color: #df7141;
}
#cart{
    width: 141px;
    height: 48px;
    line-height: 48px;
    border: 0;
    color: #fff;
    font-size: 18px;
    background-color: #2264af;
    cursor: pointer;
}








/* ------------------------------底部------------------------- */
.footer {
    margin-top: 100px;
    background-color: #fafafa;
    height: 540px;
}

.inner-footer {
    height: 143px;
    border-bottom: 2px solid #ecedef;
    display: flex;
    justify-content: space-around;
}

.link {
    border-bottom: 2px solid #ecedef;
    height: 183px;
}

.copyRight {
    background: #0c82d9;
    height: 213px;
}

